/* Modes */
.light-mode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}
.dark-mode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --font-weight-light: 200;
  --font-weight-mid: 400;
  --font-weight-bold: 700;
}

/* Body */
body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  background-color: var(--bg_body);
}

/* header */
.header {
  padding: 24px 4%;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg_default);
  align-items: center;
}
.brand {
  font-size: larger;
  color: var(--brand-primary);
  padding-left: 5px;
}
.btn-container {
  display: flex;
  padding-right: 5px;
}
.darkmode,
.favourites {
  color: var(--body-text);
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: var(--lines-color) solid 0.5px;
  border-radius: 5px;
  background-color: var(--bg_default);
  font-weight: var(--font-weight-mid);
}
.darkmode {
  margin-right: 10px;
}
.darkmode > span,
.favourites > span {
  padding-left: 10px;
}

/* Welcome Section */

.bg-container {
  height: 12vh;
  position: relative;
  overflow: hidden;
  background-color: var(--bg_default);
}

.bg1,
.bg2 {
  position: absolute;
  top: 0;
  height: 100%;
}

.bg1 {
  width: 80%;
  left: 0;
  background-color: var(--brand-primary);
  clip-path: polygon(0 0, 100% 0, 0 60%);
  z-index: 3;
}

.bg2 {
  width: 80%;
  right: 0;
  background-color: var(--brand-secondary);
  clip-path: polygon(100% 0, 100% 60%, 0 0);
  z-index: 2;
}
.welcome-content {
  position: relative;
  padding-left: 38%;
  padding-right: 25%;
  padding-top: 40px;
  z-index: 3;
}
@media (max-width: 768px) {
  .welcome-content {
    text-align: center;
    padding: 30px; /* Adjust padding for mobile view */
    padding-top: 50px;
  }

  /* Adjust font size and other styles for mobile view */
  .welcome-content h2 {
    font-size: 25px; /* Adjust the font size */
  }

  .welcome-content p {
    font-size: 15px; /* Adjust the font size */
  }
}
.welcome-content > h2 {
  color: var(--brand-secondary);
}

/* Main content */

.main-content {
  width: 92%;
  margin: auto;
  background-color: var(--bg_body);
  background-color: var(--bg_default);
}

/* search bar and filtering */
.search {
  margin-top: 20px;
  display: flex;
  border: 1px solid var(--lines-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--lines-color);
}
.search-bar {
  display: flex;
  width: 75%;
  padding: 10px;
  align-items: center;
}
.search-bar > input {
  font-size: larger;
  flex: 1;
  border: none;
  outline: none;
  width: 92%;
  background-color: var(--bg_default);
}
.search-bar > i {
  margin-right: 10px;
}
.filters {
  display: flex;
  align-items: center;
  width: 25%;
}
.filters .filter,
.filters .sort {
  border-left: 1px solid var(--lines-color);
  padding: 8px;
  /* flex: 1; */

  width: 50%;
}

.filters select {
  color: var(--body-text);
  border: none;
  width: 100%;
  outline: none;
  font-size: medium;
  background-color: var(--bg_default);
}
.filters span {
  display: block;
  padding-left: 8px;
  font-size: small;
}
@media (max-width: 768px) {
  .search {
    flex-direction: column;
  }
  .search-bar {
    padding: 17px;
  }
  .filters {
    width: 100%;
    border-top: 1px solid var(--lines-color);
  }

  .filters .sort {
    border-left: none;
  }
}

/* Topics Section */
.topics {
  width: 100%;
  /* margin: auto; */
}
.topics-count {
  background-color: var(--bg_body);
  font-size: x-large;
  font-weight: var(--font-weight-bold);
  padding: 10px 0 20px 0;
}
/* cards */

.cards {
  background-color: var(--bg_body);
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  gap: 2.5rem;
}
.card .card-image {
  width: 100%;
  height: 50%;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-image img:hover {
  transform: translatey(-10px);
  transition: 0.2 all linear;
}

.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: var(--bg_default);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px var(--lines-color);
}
.card-catagory {
  font-weight: var(--font-weight-mid);
  margin-top: 18px; /* Add margin for spacing */
  font-weight: var(--font-weight-mid);
}

.card-topic {
  font-weight: var(--font-weight-bold);
  font-size: 1.2rem; /* Increase font size if needed */
}

.card-rating {
  margin-top: 35px; /* Add margin for spacing */
}

.card-author {
  font-weight: var(--font-weight-light);
  color: #555; /* Change the color as desired */
  margin-top: 15px; /* Add margin for spacing */
}
.card span {
  margin-left: 20px;
}

.cards a,
.cards a:hover,
.cards a:visited,
.cards a:focus {
  text-decoration: none;
  color: inherit;
}

/* footer */
footer {
  background: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  padding: 24px;
  color: rgb(10, 24, 14);
  font-weight: var(--font-weight-bold);
  font-size: large;
}
footer ul {
  display: flex;
  list-style: none;
}
footer ul li {
  color: var();
  padding: 0 8px;
}
footer ul li a {
  text-decoration: none;
}
